@model WHMS_Project.Models.User



@{
    Layout = null;
}



<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">







    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>





    <script>

        function validatePasswords()
        {
            var newPassword = document.getElementById("NewPassword").value;
            var confirmPassword = document.getElementById("CnfPassword").value;
            if (newPassword != confirmPassword)
            {
                alert("New password and confirm new password must be the same!");
                return;
            }
        }



        document.getElementsByName("NewPassword").addEventListener("input", function () {
            if (this.validity.patternMismatch) {
                this.setCustomValidity("Password must be at least 8 characters long and contain at least 1 number and 1 special character.");
            } else {
                this.setCustomValidity("");
            }
        });



    </script>







    <title>Change Password</title>
    <style>
        #container {
            display: flex;
            justify-content: space-between;
        }



        .CFP {
            float: right;
            color: white;
        }



        #remember {
            align-self: flex-start;
        }





        #forgot-password-label {
            align-self: flex-end;
        }





        #username::placeholder {
            color: darkgrey;
        }





        #OldPassword::placeholder {
            color: darkgrey;
        }

        #NewPassword::placeholder {
            color: darkgrey;
        }

        #CnfPassword::placeholder {
            color: darkgrey;
        }
    </style>






</head>
<body style="background-image: url('../../Images/warehouse_bg.jpg'); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover; opacity: 1.0">
    <div class="container mt-5">
        <h1 style="color: #09f6e1; " class="text-center mb-5">WARE-YOU-GO</h1>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h5 style="color: #09f6e1 " ; class="text-center mb-4">Digitilization of Mordern Warehouses</h5>
                <div style="width : 500px; height: 500px; background :rgba(0,0,0,0.5); padding : 30px ;   ">
                    <center>
                        <span style="font-family:'Times New Roman'; font-size:20px; color:#b91212">@ViewBag.ErrorMessage</span>
                    </center>

                    @using (Html.BeginForm("ChangePassword", "Layout", FormMethod.Post))
                    {
                        <br /><br /><br />




                        <div class="form-group">
                            <input type="text" required style="border: none; border-bottom: white 2px dashed; background: rgba(0,0,0,0.1); text-align: center; color: white" class="form-control" name="username" id="username" placeholder="Enter your email/employee ID">
                        </div>





                        <div class="form-group">
                            <input type="password" required style="border: none; background: rgba(0,0,0,0.1); border-bottom: white 2px dashed; text-align: center; color: white" class="form-control" name="OldPassword" id="OldPassword" placeholder="Enter Old Password">
                        </div>





                        <div class="form-group">
                            <input type="password" required style="border: none; background: rgba(0,0,0,0.1); border-bottom: white 2px dashed; text-align: center; color: white" class="form-control" name="NewPassword" id="NewPassword" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" placeholder="Enter New Password">
                        </div>





                        <div class="form-group">
                            <input type="password" required style="border: none; background: rgba(0,0,0,0.1); border-bottom: white 2px dashed; text-align: center; color: white" class="form-control" id="CnfPassword" onblur="validatePasswords()" placeholder=" Confirm New Password">
                        </div>






                        <div class="form-group form-check">
                            <button type="submit" class="btn btn-primary" style="color: black; background :white; height: 40px; width: 120px;display: block; margin: auto;">Submit</button><br />







                            <div>
                                <div>
                                    <input style="float: left; background: rgba(0,0,0,0.5); width: 17px; height: 25px" type="checkbox" id="remember" />
                                    <label style="float: left;color:white" for="remember"> Remember me</label>
                                    @* <a style="float: right; color: white" href="Forgot Password.html" class="forgot">Forgot Password</a>*@
                                    @Html.ActionLink("Forgot Password", "ForgotPassword", "Layout", null, new { @class = "CFP" })
                                </div>





                            </div>





                        </div>
                    }




                </div>





            </div>
        </div>
    </div>
    </div>










</body>
</html>