
@model WHMS_Project.Models.User

@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>


    <script>
 
        function validatePasswords() {
            var newPassword = document.getElementById("password").value;
            var confirmPassword = document.getElementById("cnfpassword").value;
            if (newPassword != confirmPassword) {
                alert("New password and confirm new password must be the same!");
                return;
            }
            else {
                alert("Password Updated Successfully");
            }
        }
 

        document.getElementsByName("newPassword").addEventListener("input", function () {
            if (this.validity.patternMismatch) {
                this.setCustomValidity("Password must be at least 8 characters long and contain at least 1 number and 1 special character.");
            } else {
                this.setCustomValidity("");
            }
        });
 
 
    </script>



    <title>Forgot Password</title>
    <style>
                #container {
                        display: flex;
                        justify-content: space-between;

        }




                #remember {
                        align-self: flex-start;

        }




                #forgot-password-label {
                        align-self: flex-end;

        }




                #username::placeholder {
                        color: darkgrey;

        }




                #password::placeholder {
                        color: darkgrey;

        }


                #cnfpassword::placeholder {
                        color: darkgrey;

        }




                #otp::placeholder {
                        color: darkgrey;

        }


    </style>



</head>
<body style="background-image: url('../../Images/warehouse_bg.jpg'); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover; opacity: 1.0">
    <div class="container mt-5">
        <h1 style="color: #09f6e1; " class="text-center mb-5">WARE-YOU-GO</h1>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h5 style="color: #09f6e1 " ; class="text-center mb-4">Digitilization of Mordern Warehouses</h5>
                <div style="width : 500px; height: 500px; background :rgba(0,0,0,0.5); padding : 30px ;   ">

                    <center>
                        <span style="font-family:'Times New Roman'; font-size:20px; color:#b91212">@ViewBag.ErrorMessage</span>
                    </center>
                    @using (Html.BeginForm("ForgotPassword", "Layout", FormMethod.Post))
                    {

                        <br /><br /><br />



                        <div id="textfiels">


                            <div class="form-group">
                                <input type="text" required style="border: none; border-bottom: white 2px dashed; background: rgba(0,0,0,0.1); text-align: center; color: white" class="form-control" name="username" id="username" placeholder="Enter your email/employee ID">
                            </div>


                            <div class="form-group">
                                <input type="password"  required style="border: none; background: rgba(0,0,0,0.1); border-bottom: white 2px dashed; text-align: center; color: white" class="form-control" name="newPassword" id="newPassword" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" placeholder="Enter New Password">
                            </div>



                            <div class="form-group">
                                <input type="password" required style="border: none; background: rgba(0,0,0,0.1); border-bottom: white 2px dashed; text-align: center; color: white" class="form-control" name="cnfPassword" id="cnfpassword" onblur="validatePasswords()" placeholder=" Confirm New Password">
                            </div>


                        </div>



                        <div class="form-group form-check">


                            <button type="submit" class="btn btn-primary" style="color: black; background :white; height: 40px; width: 120px;display: block; margin: auto">Submit</button>


                            <br />



                        </div>
                    }
                </div>


            </div>
        </div>
    </div>





</body>
</html>



